.section.client {
  padding-top: 100px;
  padding-bottom: 94px;
}

.client-nav {
  display: flex;
}
.client-nav li {
  margin-right: 30px;
}
.client-nav li:nth-child(6) {
  margin-right: 0;
}
.client-nav li a {
  margin: 0;
  padding: 0;
  border-color: var(--accent-color);
  color: var(--accent-color);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client-nav li a {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}
.client-nav li a svg {
  fill: var(--primary-text-color);
  display: block;
  padding: 16px 32px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-nav li a:hover,
.client-nav li a:focus {
  border-color: var(--accent-color);
}

.client-nav li a:hover svg,
.client-nav li a:focus svg {
  fill: var(--accent-color);
  border-color: var(--accent-color);
}
