.hero-box {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
}

.hero-title {
  margin: 0 auto 30px auto;
  color: var(--main-background-color);
  width: 696px;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  border: none;
  font-weight: 700;
  font-family: inherit;
  line-height: 1.87;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  letter-spacing: 0.06em;
}
