.team {
  background-color: var(--button-nav-color);
  padding: 94px 0;
}

.team-list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
  text-align: center;
}
.team-list > li {
  margin: 0 30px 0 0;
  padding: 0;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--main-background-color);
  max-width: 270px;
}
.team-list > li:nth-last-child(1) {
  margin: 0;
  padding: 0;
}

.team-descr {
  margin-top: 30px;
  margin-bottom: 16px;
}

.team .title {
  color: var(--secondary-text-color);
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--additional-text-color);
}

.social-nav {
  display: flex;
  margin: 16px 32px 30px 32px;
  transition: 2000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nav li {
  padding: 0 5px;
}

.social-nav li:nth-child(1) {
  padding-left: 0;
}
.social-nav li:nth-child(4) {
  padding-right: 0;
}
.social-nav li a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-nav li a:hover,
.social-nav li a:focus {
  background-color: var(--accent-color);
  fill: var(--main-background-color);
}

.social-nav li a svg {
  width: 20px;
  height: 20px;
  fill: var(--primary-text-color);
}

.social-nav li a:hover svg,
.social-nav li a:focus svg {
  width: 20px;
  height: 20px;
  fill: var(--main-background-color);
}
