.hero-box {
  @include flexbox(flex, $ai: center);
  flex-direction: column;
  justify-content: center;
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4) 0%,
      rgba(47, 48, 58, 0.4) 100%
    ),
    url("../images/hero-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  margin: 0 auto 30px auto;
  color: $main-background-color;
  width: 696px;
  @include font(44px, 1.36, 900, 0.06em);
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  color: $main-background-color;
  background-color: $accent-color;
  border: none;
  @include font(16px, 1.87, 700, 0.06em);
  font-family: inherit;
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
}
